.scoreboard.t7 .score-block h3 {
  transform: rotate(90deg);
}

.scoreboard.t7 .score-block {
  transform: rotate(-90deg);
}


.scoreboard.t7 .player-1-field .name-block,
.scoreboard.t7 .player-2-field .name-block,
.scoreboard.t7 .rounds-field,
.scoreboard.t7 .score-block {
  background: url('../../img/bg.png');
  background-position: center bottom;
  color: #fff;
}

.scoreboard.t7, .scoreboard.t7 .player-1-field, .scoreboard.t7 .player-2-field, .scoreboard.t7 .rounds-field {
  justify-content: space-evenly;
  width: auto;
}

.scoreboard.t7 .country-block img {
  width: 100%;
  height: 41.9px;
}

.scoreboard.t7 .country-block {
  zoom: 1.3;
}