.scoreboard.t7 .score-block h3 {
  transform: rotate(90deg);
}

.scoreboard.t7 .score-block {
  background: rgb(174, 238, 181);
  transform: rotate(90deg);
}

.scoreboard.t7 .player-1-field .name-block {
  background: rgb(174, 238, 181);
  background: linear-gradient(270deg, rgba(174, 238, 181, 1) 26%, rgba(171, 225, 183, 1) 35%, rgba(169, 226, 194, 1) 47%, rgba(147, 228, 144, 1) 68%, rgba(90, 251, 68, 1) 84%, rgba(67, 245, 61, 1) 100%);
}

.scoreboard.t7 .player-2-field .name-block {
  background: rgb(174, 238, 181);
  background: linear-gradient(86deg, rgba(174, 238, 181, 1) 26%, rgba(171, 225, 183, 1) 35%, rgba(169, 226, 194, 1) 47%, rgba(147, 228, 144, 1) 68%, rgba(90, 251, 68, 1) 84%, rgba(67, 245, 61, 1) 100%);
}

.scoreboard.t7 .player-1-field, .scoreboard.t7 .player-2-field, .scoreboard.t7 .rounds-field {
  justify-content: space-evenly;
  width: auto;
}

.scoreboard.t7 .country-block img {
  width: 100%;
  height: 41.9px;
}