@import './reset.css';
@import './style.css';
@import './spinner.css';
@import './scoreCounter.css';
@import './manuallyTypePlayer.css';
@import './errors.css';
.scoreboard, .player-1-field, .player-2-field, .rounds-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.player-2-field, .player-1-field, .rounds-field {
  border-top: none;
  background: blue;
  color: white;
}

.rounds-field {
  padding: 1.2rem 0;
}

.admin-panel .admin-panel-right {
  width: 21.2rem;
}