@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root {
  --white-text: #fff;
  --smooth-white: rgba(255, 255, 255, 0.7);
  --black-text: #000;
  --shadow-text-effect: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
  --animation-speed: 0.75;
  --red-effect: #d00000;
}



.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
.active {
  display: block;
}

.admin-panel {
  padding-top: 5rem;
  background: #DFE2E5;
  height: calc(100vh - 0.0625rem);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
