@import '../reset.css';
@import '../style.css';
@font-face {
  src: url('../Fonts/shogun/shogunsclan-w3wp.woff2') format('woff2'), url('../Fonts/shogun/shogunsclan-w3wp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-family: 'shoguns_clanregular';
}

.frontend {
  width: 100%;
  height: 100vh;
}

.frontend, .logotype-block {
  display: flex;
  flex-direction: column;
  background: transparent;
  overflow: hidden;
}

.logotype-block {
  justify-content: flex-end;
  align-self: center;
  height: 100%;
}

.scoreboard-layout {
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  height: 2.5vw;
  background: red;
  position: relative;
 
}


.logo {
  width: 20vw;
  height: 4vw;
}